# setupDecompWorkspace

## PASS

 - rfg
 - fg23

## WITHOUT TEST

 - fg30
 - fg40
 - fg50

# runClient

## PASS

 - rfg
 - fg23

## WITHOUT TEST

 - fg30
 - fg40
 - fg50